<div class="jumbotron1 jumbotron-fluid">
  <div class="container1">
  </div>
</div>


<div class="jumbotron jumbotron-fluid text-center mb-0">
  <div class="container">
    <h1 class="display-4">Burgers</h1>
    <p class="lead">Type in your burger:</p>
  </div>
</div>


<div class="burgerText text-center mb-0">
  <form class="create-form">
    <div>
      <input name="burgers_name" type="text" id="name"><br>
      <button type="submit" class=" btn btn-primary">Add burger</button>
    </div>
  </form>
</div>

<ul>
  {{#each burgers}}
  {{#unless this.eaten}}
  <div>
    <p>{{burgers_name}}</p>
    <button class="btn btn-warning devour" id="{{id}}">Eat the Burger</button>
    <br>
  </div>

  {{/unless}}
  {{/each}}
</ul>



<ul>
  {{#each burgers}}
  {{#if this.eaten}}
  <div>
    <p>{{this.burgers_name}}</p>
    <button type="submit" class="btn btn-primary delete-burger" id="{{id}}">Delete burger</button>
  </div>
  {{/if}}
  {{/each}}
</ul>