<div class="jumbotron1 jumbotron-fluid">
  <div class="container1">
  </div>
</div>


<div class="jumbotron jumbotron-fluid text-center mb-0">
  <div class="container">
    <h1 class="display-4">Burgers</h1>
    <p class="lead">Type in your burger:</p>
  </div>
</div>


<div class="burgerText text-center mb-0">
  <form action="/insertOne" method="post">
    <div>
      <textarea name="burgers_name" type="text" cols="30" rows="10"></textarea><br>
      <button type="submit" class=" btn btn-primary">Add burger</button>
    </div>
  </form>
</div>

<ul>
  {{#each burgers}}
  {{#unless this.eaten}}
  <div>
    <p>{{this.burgers_name}}</p>
    <form action="/updateOne/{{this.id}}" method="post">
      <input type="hidden" name="eaten" value="1">
      <button type="submit" id="secondButton" class="btn btn-warning"> Eat the Burger</button>
    </form>
    <br>
  </div>

  {{/unless}}
  {{/each}}
</ul>



<ul>
  {{#each burgers}}
  {{#if this.eaten}}
  <div>
    <p>{{this.burgers_name}}</p>
    <form action="/deleteOne/{{this.id}}" method="POST">
      <button type="submit" class="btn btn-primary">Delete burger</button>
    </form>
  </div>
  {{/if}}
  {{/each}}
</ul>